<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
     <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
        <service name="HealthChecker.HealthChecker" behaviorConfiguration="MyServiceTypeBehaviors">
                <endpoint address=""
                                      behaviorConfiguration="MyEndpointBehavior"
                                       binding="webHttpBinding"
                                       contract="HealthChecker.IHealthChecker"
                                      bindingConfiguration="MyBindingConfiguration">
                </endpoint>
       </service>
   </services>
    
    <bindings>
      <webHttpBinding>
        <binding name="MyBindingConfiguration" useDefaultWebProxy="false" bypassProxyOnLocal="true" hostNameComparisonMode="WeakWildcard" sendTimeout="10:15:00"
                 openTimeout="10:15:00" receiveTimeout="10:15:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                 transferMode="StreamedRequest">
          <readerQuotas maxDepth="32" maxStringContentLength="524288" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </webHttpBinding>      
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="MyEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>      
    </behaviors>
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
